<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>E-Shramik</title>
    <style>
      /* Custom styling for the cards */
      .card {
        border: 1px solid #7a7070; /* Border for the outer card only */
        border-radius: 8px; /* Rounded corners */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Modern shadow effect */
        transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
        width: 18rem; /* Fixed width for the cards */
        margin: 10px 0; /* Margin between rows */
      }

      .card:hover {
        transform: translateY(-5px); /* Slight lift on hover */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
      }

      .list-group-item ion-icon {
        margin-right: 5px; /* Space between icon and text */
      }

      ion-icon {
        color: blue;
      }
      body {
    background-color: #bfc1c4; /* Light gray background */
  }
    </style>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>

    <!-- <%= JSON.stringify(user) %> -->
    <div class="container mt-3">
      <div class="row justify-content-center">
        <% shramik.forEach(sh => { %>
          <div class="col-md-4 d-flex justify-content-center">
            <div class="card">
              <h4 class="card-header"><%= sh.name %></h4>
              <div class="card-body">
                <h6 class="card-title"><%= sh.trade %></h6>
                <p class="card-text"><ion-icon name="location"></ion-icon><%= sh.city_of_work %></p>
                <a href="/worker/<%= sh._id %>" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <!-- Include Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
